name: CI - Build, Test, Push, Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-test-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install deps and run tests
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pytest

      - name: Login to GHCR
        run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push image
        env:
          IMAGE: ghcr.io/${{ github.repository_owner }}/automatyzacja-deploymentu:${{ github.sha }}
        run: |
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

  deploy-via-ssh:
    needs: build-test-push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.8.0
        with:
          #host: ${{ secrets.SERVER_HOST }}
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_DEPLOY_KEY }}
          script: |
            docker pull ${{ env.IMAGE }}
            docker stop automatyzacja-app || true
            docker rm automatyzacja-app || true
            docker run -d --name automatyzacja-app -p 5000:5000 ${{ env.IMAGE }}
